* {
	box-sizing: border-box;
}

body {
  background-color: #F2F3F4;
  padding: 20px;
}

p {
  font-weight: bold;
}

input {
  text-align: center;
  margin: 20px;
}

table {
  margin: 20px;
  text-align: center;
}

th {
  text-align: center;
}